main section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

object {
  height: 60%;
  width: auto;
}

#hero-content {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

#hero-content div p {
  max-width: 90%;
}

#about-hero div {
  width: 100%;
  padding: 4rem;
  display: flex;
  justify-content: flex-end;
}

#about-hero div div {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 2rem;
}

#about-where {
 background-color: var(--color-coffee-milk);
}

#about-where div img {
  height: 90%;
  border-radius: 2rem;
}

#about-where p {
}

#about-where + section {
  justify-content: flex-start;
  padding-top: 10rem;
}

#about-timeline {
  display: flex;
  gap: 8rem;
}

#title-lines {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#dark-mask {
  position: absolute;
  right: 0;
  width: 60vw;
  height: 100vh;
  background-color: black;
  z-index: -1;
  -webkit-mask-image: linear-gradient(black, transparent);
  mask-image: linear-gradient(to left, black, transparent);
  opacity: 80%;
}

#about-where div {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  align-items: center;
  justify-content: center;
}

#about-where div div {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  max-width: 50%;
}

.vertical-line {
  width: 12%;
  height: 1rem;
  background-color: var(--color-terracota);
}

.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.timeline-block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  max-height: 30rem;
  width: 65%;
  background-color: var(--color-terracota);
  max-width: 70%;
  padding: 2rem;
  border-radius: 4rem;
  gap: 4rem;
}

.timeline-block p {
  font-size: 2.4rem;
}

.timeline-group {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  align-items: center;
  justify-content: center;
}

.timeline-circle {
  position: relative;
}

.circle {
  background-color: var(--color-terracota);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.circle::before {
  content: "";
  position: absolute;
  left: 44.82%;
  top: 0.1rem;
  background-color: var(--color-coffee-milk);
  height: 24rem;
  width: .6rem;
  z-index: -1;
}

.bg-brown {
  background-color: var(--color-coffee-milk);
}
