.contacts
{
  height: 100vh;
  background-color: var(--color-coffee-milk);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-contacts
{
  background-color: var(--color-coffee-white);
  width: 92%;
  max-width: 1327px;
  height: 87.5%;
  max-height: 805px;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: var(--color-coffee-milk);
  gap: 5rem;

}
.left-side
{
  height: 82.47%;
}
.left-side img
{
  height: 100%;
  width: auto;
}
form
{

width: 100%;
height: 80%;
display: flex;
flex-direction:column;
justify-content: center;
align-items: center;
gap: 2.25rem;
}

input, textarea {
  border: none;
  border-bottom: 2px solid var(--color-coffee-milk);
  background-color: transparent;
  padding: 10px 5px;
  font-size: 1.5rem;
  color: var(--color-coffee-milk);
  font-family: 'Roboto Serif', serif;
  width:100%;
}
.right-side
{
  gap: 3rem;
  width: 29.40%;
  height: 81%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content:center;
  align-items: start;
}
.contact-info h3
{
  font-size: 3rem;
}
.contact-info p
{
  font-size: 2rem;
}
form button
{
  text-align: center;
  font-size: 1.5rem;
  padding: 2rem;
  width: 56.36%;
  background-color: var(--color-coffee-milk);
  color: var(--color-coffee-white);
  border-radius: 3rem;
  cursor: pointer;
}
input::placeholder,textarea::placeholder {
  color: var(--color-coffee-milk);
}
button:hover {
  background-color: #5a3d26;
  transform: scale(1.03);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

