* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-optical-sizing: auto;
}

:root {
  font-size: 62.5%;
  font-family: "Roboto Serif", serif;
  line-height: 12.4rem;

  --color-beige: #EAD1B3;
  --color-beige-light: #FFF8E8;
  --color-terracota: #B3693F;
  --color-terracota-yellow: #BE7532;
  --color-coffee-milk: #8A6240;
  --color-coffee-brown: #4D2D18;
  --color-coffee-white: #FBEDDC;

  color: var(--color-coffee-white);
  line-height: normal;
}

body {
  background-color: var(--color-beige);
}

header {
  width: 100vw;
  max-height: 10rem;
  position: fixed;
  z-index: 2;
  top: 0;
  padding-top: 4rem;
}

h1 {
  font-size: clamp(2.8rem, 8vw, 12.8rem);
  font-weight: normal;
  line-height: 12rem;
}

h2 {
  font-size: clamp(2.8rem, 12vw, 9.6rem);
  font-weight: normal;
}

p {
  font-size: 2.8rem;
  line-height: 3rem;
  font-weight: 200;
}

ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  width: 100%;
}

li {
  font-family: "Poppins", sans-serif;
  margin: auto;
  font-size: 2.4rem;
  font-weight: 250;
  color: var(--color-coffee-white);
}

li:hover {
  cursor: pointer;
}

button {
  all: unset
}

main section {
  height: 100vh;
  width: 100vw;
}

a {
  all: unset
}

form
{
width: 100%;
height: 86%;
display: flex;
flex-direction:column;
justify-content: center;
align-items: center;
gap: 2.25rem;
margin-bottom: 0;
}

input, textarea {
  all: unset;
  border: none;
  border-bottom: 2px solid var(--color-coffee-milk);
  background-color: transparent;
  padding: 10px 5px;
  font-size: 1.5rem;
  color: var(--color-coffee-milk);
  font-family: 'Roboto Serif', serif;
  width:100%;
  line-height: 4rem;
  opacity: 0.7;
}

#hero img {
  position: absolute;
  width: 75rem;
  right: 4rem;
  top: 0;
}

#hero div {
  max-width: 50%;
}

#hero {
  background-color: var(--color-coffee-milk);
  padding: 10rem;
  padding-top: 20rem;
  display: flex;
}

#hero div div div {
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  gap: 0;
}

#hero div div div p {
  font-weight: 900;
  font-size: 5.2rem;
}

#hero span {
  color: var(--color-terracota-yellow);
}

#hero div > div {
  display: flex;
  gap: 2rem;
}

#hero button svg {
  color: var(--color-coffee-white);
  scale: 2;
  margin-left: 1.6rem;
  margin-right: .4rem;
  border-radius: 100rem;
  background-color: var(--color-coffee-milk);
  transform: scaleY(-1);
}

#hero label {
  font-size: 2rem;
}

#user-experience {
  background-color: var(--color-terracota);
}

#nav-list {
  gap: 2rem
}

.absolute-object {
  position: absolute;
  right: 0;
  top: 0;
}

.img-background {
  width: 100vw;
  max-height: 100vh;
  object-fit: cover;
  position: absolute;
  z-index: -2
}

.text-title {
  font-size: clamp(2.6rem, 2.6vw, 4.8rem);
  font-weight: normal;
  line-height: 1.6rem;
  margin-top: 2rem;
}

.text-subtitle {
  font-size: 2rem;
}

.text-milk {
  color: var(--color-coffee-milk)
}

.text-brown {
  color: var(--color-coffee-brown);
}

.text-white {
  color: var(--color-coffee-white);
}

.text-terracota {
  color: var(--color-terracota);
}

.bg-milk {
  background-color: var(--color-coffee-milk);
}

.bg-brown {
  background-color: var(--color-coffee-brown);
}

.bg-white {
  background-color: var(--color-coffee-white)
}

.bg-terracota {
  background-color: var(--color-terracota)
}

.button-1, .button-2 {
  padding: clamp(.2rem, 1.8vw, 1rem) 2rem;
  flex: 1;
  border-radius: 16px;
  font-size: 1.6rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.button-1:hover {
  background-color: var(--color-coffee-brown);
  cursor: pointer;
}

.button-2 {
  border-radius: 100rem;
  font-weight: 500;
}

.button-2:hover {
  background-color: var(--color-beige);
  cursor: pointer;
  fill: var(--color-beige);
}

.button-2:hover svg {
  stroke: var(--color-beige);
}

.bold {
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  header nav ul {
    flex-direction: column;
    gap: 2rem;
  }
  header {
    max-height: 60rem;
    padding-bottom: 6rem;
    padding-top: 2rem;
  }
  .backdrop-blur {
    backdrop-filter: blur(10px) brightness(0.7);
    -webkit-mask-image: linear-gradient(to top, transparent 25%, black 75%);
    mask-image: linear-gradient(to top, transparent 5%, black 25%);
    padding-bottom: 20rem;
  }
  .closed {
    padding-bottom: 6rem;
    -webkit-mask-image: linear-gradient(to top, transparent 25%, black 75%);
    mask-image: linear-gradient(to top, transparent 5%, black 45%);
  }
  .hidden {
    display: none;
  }
}
