* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-optical-sizing: auto;
}

:root {
  font-size: 62.5%;
  font-family: "Roboto Serif", serif;
  line-height: 12.4rem;

  --color-beige: #EAD1B3;
  --color-beige-light: #FFF8E8;
  --color-terracota: #B3693F;
  --color-terracota-yellow: #BE7532;
  --color-coffee-milk: #8A6240;
  --color-coffee-brown: #4D2D18;
  --color-coffee-white: #FBEDDC;

  color: var(--color-coffee-white);
  line-height: normal;
  max-width: 100vw;
}

body {
  background-color: var(--color-beige);
}

#body {
  max-width: 100vw;
  overflow-x: hidden !important;
  position: relative;
}

header {
  width: 100vw;
  max-height: 10rem;
  position: fixed;
  z-index: 50;
  top: 0;
  padding-top: 4rem;
}

h1 {
  font-size: clamp(2.8rem, 16vw, 12.8rem);
  font-weight: normal;
  line-height: clamp(6rem, 12vw, 12rem);
}

h2 {
  font-size: clamp(2.8rem, 12vw, 9.6rem);
  font-weight: normal;
}

h3 {
  font-size: clamp(2.8rem, 5vw, 3.6rem);
  font-weight: normal;
}

p {
  font-size: 2.8rem;
  line-height: 3rem;
  font-weight: 200;
}

ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  width: 100%;
}

li {
  font-family: "Poppins", sans-serif;
  margin: auto;
  font-size: 2.4rem;
  font-weight: 250;
  color: var(--color-coffee-white);
}

li:hover {
  cursor: pointer;
}

button {
  all: unset
}

main section {
  height: 100vh;
  width: 100vw;
}

a {
  all: unset
}

form
{
width: 100%;
height: 86%;
display: flex;
flex-direction:column;
justify-content: center;
align-items: center;
gap: 2.25rem;
margin-bottom: 0;
}

input, textarea {
  all: unset;
  border: none;
  border-bottom: 2px solid var(--color-coffee-milk);
  background-color: transparent;
  padding: 10px 5px;
  font-size: 1.5rem;
  color: var(--color-coffee-milk);
  font-family: 'Roboto Serif', serif;
  width:100%;
  line-height: 4rem;
  opacity: 0.7;
}

footer {
  background-color: var(--color-coffee-brown);
  width: 100vw;
}

footer > div:nth-child(1) {
  background-image: url('https://i.postimg.cc/RVMLD6Hc/background.png');
  padding: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer > div:nth-child(2) {
  padding: 4rem;
}

.footer-grid {
  font-family: 'Poppins', sans-serif;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  align-items: start;
}

.footer-item p, .footer-item li {
  font-size: 2rem;
  font-weight: 300;
}

.footer-item li {
  margin: 0;
}

.footer-item h3 {
  font-size: 2.6rem;
  font-weight: 600;
}

.footer-links {
  padding: 0 !important;
}

.footer-item:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 3;
}

.footer-item:nth-child(3) {
  grid-column-start: 4;
  grid-column-end: 6;
  width: 100%;
}

.footer-links ul {
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
}

#hero img {
  position: absolute;
  width: 75rem;
  right: 4rem;
  top: 0;
}

#hero div {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#hero {
  background-color: var(--color-coffee-milk);
  padding: 10rem;
  padding-top: 16rem;
  display: flex;
}

#hero div > div {
  flex-direction: row;
}

#hero div div div {
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  gap: 0;
}

#hero div div div p {
  font-weight: 900;
  font-size: 5.2rem;
}

#hero span {
  color: var(--color-terracota-yellow);
}

#hero div > div {
  display: flex;
  gap: 2rem;
}

#hero button svg {
  color: var(--color-coffee-white);
  scale: 2;
  margin-left: 1.6rem;
  margin-right: .4rem;
  border-radius: 100rem;
  background-color: var(--color-coffee-milk);
  transform: scaleY(-1);
}

#hero label {
  font-size: 2rem;
}

#user-experience {
  background-color: var(--color-terracota);
}

#nav-list {
  gap: 2rem
}

.absolute-object {
  position: absolute;
  right: 0;
  top: 0;
}

.img-background {
  width: 100vw;
  max-height: 100vh;
  object-fit: cover;
  position: absolute;
  z-index: -2
}

.text-title {
  font-size: clamp(2.6rem, 2.6vw, 4.8rem);
  font-weight: normal;
  line-height: 1.6rem;
  margin-top: 2rem;
}

.text-subtitle {
  font-size: 2rem;
}

.text-milk {
  color: var(--color-coffee-milk)
}

.text-brown {
  color: var(--color-coffee-brown);
}

.text-white {
  color: var(--color-coffee-white);
}

.text-terracota {
  color: var(--color-terracota);
}

.bg-milk {
  background-color: var(--color-coffee-milk);
}

.bg-brown {
  background-color: var(--color-coffee-brown);
}

.bg-white {
  background-color: var(--color-coffee-white)
}

.bg-terracota {
  background-color: var(--color-terracota)
}

.button-1, .button-2 {
  padding: clamp(.2rem, 1.8vw, 1rem) 2rem;
  flex: 1;
  border-radius: 16px;
  font-size: 1.6rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.button-1:hover {
  background-color: var(--color-coffee-brown);
  cursor: pointer;
}

.button-2 {
  border-radius: 100rem;
  font-weight: 500;
}

.button-2:hover {
  background-color: var(--color-beige);
  cursor: pointer;
  fill: var(--color-beige);
}

.button-2:hover svg {
  stroke: var(--color-beige);
}

.bold {
  font-weight: bold;
}

#featured-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 8rem;
  gap: 1rem;
}

#user-experience {
  padding: 8rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#user-experience > div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.featured-card {
 background-color: var(--color-beige-light);
 padding: 4rem;
 width: 100%;
 height: 100%;
 border-radius: 4rem;
 color: var(--color-coffee-brown);
 z-index: 10;
 box-shadow: .3rem .3rem .8rem .2rem rgba(138, 98, 64, .2);
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 2rem;
}

.featured-card:hover {
  transform: scale(1.05);
  z-index: 100;
  background-color: var(--color-coffee-brown);
  color: var(--color-beige-light);
  transition: .4s ease-in-out;
  -webkit-transition: .4s ease-in-out;
  -moz-transition: .4s ease-in-out;
}

.featured-card img {
  height: 100%;
  border-radius: 2.4rem;
}

.featured-card svg {
  padding: 1.8rem;
  border-radius: 100%;
  background-color: var(--color-coffee-white);
  color: var(--color-coffee-brown);
  stroke-width: 1px;
  width: 9rem;
  height: 9rem;
}

.featured-card div {
  padding-left: 1rem;
  max-width: 60%;
}

.featured-card:nth-child(4) {
  grid-column-start: 1;
  grid-column-end: 4;
  align-items: center;
  flex-direction: row;
  padding: 2rem;
  max-height: 24rem;
  justify-content: space-between;
}

.user-card {
  width: 100%;
  background-color: var(--color-beige-light);
  color: var(--color-coffee-brown);
  padding: 4rem;
  border-radius: 2.4rem;
  position: relative;
}

.user-card > p {
  max-width: 50%;
  margin-bottom: 2rem;
}

.user-card svg {
  fill: var(--color-terracota-yellow);
  stroke: var(--color-terracota-yellow);
  width: 4.2rem;
  height: 4.2rem;
}

.user-card > div:nth-child(3) {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: flex-end;
}

.user-card > div:nth-child(3) p {
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.user-card img {
  z-index: 100;
  bottom: 0;
  width: 32rem;
  height: 32rem;
  margin-right: 2rem;
}

@media screen and (max-width: 768px) {
  header nav ul {
    flex-direction: column;
    gap: 2rem;
  }
  header {
    max-height: 60rem;
    padding-bottom: 6rem;
    padding-top: 2rem;
    transition: all 0.3s ease-in-out, width 0.3s linear 0.1s;
    -webkit-transition: all 0.3s ease-in-out, width 0.3s linear 0.1s;
  }
  .backdrop-blur {
    backdrop-filter: blur(10px) brightness(0.7);
    -webkit-mask-image: linear-gradient(to top, transparent 25%, black 75%);
    mask-image: linear-gradient(to top, transparent 5%, black 25%);
    padding-bottom: 20rem;
  }
  .closed {
    padding-bottom: 6rem;
    -webkit-mask-image: linear-gradient(to top, transparent 25%, black 75%);
    mask-image: linear-gradient(to top, transparent 5%, black 45%);
  }
  .hidden {
    display: none;
  }

  #logo span div {
    margin-top: 1rem;
    width: 100%;
    border: .1px solid var(--color-coffee-white);
  }

  #user-experience {
    padding: 4rem;
  }

  .user-card > p {
    max-width: 100%;
    margin-bottom: 10rem;
  }

  .user-card img {
    margin: 0;
    width: 24rem;
    height: 24rem;
    border-radius: 2.3rem;
  }

  #user-experience h1 {
    line-height: 6rem;
    margin-bottom: 6rem;
    font-size: 5rem;
  }

  #featured-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .featured-card:nth-child(4) {
    grid-column-start: 1;
    grid-column-end: 1;
  }

  .featured-card {
    max-width: 80vw;
    margin: auto;
  }

  #featured-section {
    height: 100%;
    padding: 0;
    padding-bottom: 8rem;
  }

  #featured-section img {
    display: none;
  }

  .featured-card:nth-child(4) {
    max-height: 100%;
  }

  #hero {
    padding: 4rem;
  }

  #hero div {
    max-width: 100%;
  }

  #hero img {
    width: 30rem;
    height: auto;
  }

  .absolute-object {
    right: -80rem;
  }

  #hero div button {
    max-height: 6rem;
  }

  .footer-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 4rem;
  }

  .footer-item:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 1;
  }

  .footer-item:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 1;
  }

  #hero img {
    display: none;
  }

}
